# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Ggplot
2. Pandas
3. Numpy
4. Matplotlib

Data Science Tools
__________
JupyterLab
__________
Spyder
________
R studio

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

**Objectives:**
- List of popular languages in data science
- List of commonly used libraries in data science
- List of some development environment in data science

## Author
Opeodu Abayomi